* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */

body {
    background: rgb(224, 220, 220);
}

h1 {
    background-color: rgb(224, 220, 220);
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid; border-color:  green;
    padding-top: 10px;
    padding-bottom: 10px;  
    text-align: center;
}

.navbar {
    background-color: green;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content {
    background-color: white;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-item {
    list-style: none;
    font-weight: bold;
    color: white
}

.nav-link {
    text-decoration: none;
}


