* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */

body {
    background: lightskyblue;
}

h1 {
    background-color: lightskyblue;
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-style: dotted; border-color:  red;
    padding-top: 5px;
    padding-bottom: 5px;  
    text-align: center;
    color: cornflowerblue
}

.navbar {
    background-color: cornflowerblue;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
}

#content {
    background-color: darkblue;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    color: white
    
}

.nav-item {
    list-style: none;
    font-weight: bold;
    color: white
}

.nav-link {
    text-decoration: none;
}


