* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */

h1 {
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: 4px solid darkseagreen;
}

ul {
    background: darkseagreen;
    padding: 30px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
}

#content {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    padding: 20px;
}
