* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}


