{% extends "base.html" %}
{% block content %}
    <h2>Good Luck!</h2>
    <p>Good luck for the exam! Don't forget to commit your changes regularly.</p>
    <p>Click <a href="/">here</a> to get to the starting page.</p>
    <p>CLick <a href="/results">here</a>to run the scraper.</p>
    <p>CLick <a href="/webscraping">here</a>to get to the scraper.</p> 

    <h2 id="answers">Some of the exercises require an answer to a question. Write the response here.</h2>
    <ol id="answers-list">
        <li>Responses or comments to Exericse 1.</li>
        <li>Responses or comments to Exericse 2.</li>
        <li>Responses or comments to Exericse 3: Data.jsn is the output which contains the data that got scraped.</li>
        <li>Responses or comments to Exericse 4.</li>
        <li>Responses or comments to Exericse 5.</li>
        <li>Responses or comments to Exericse 6.</li>
    </ol>
{% endblock %}
